In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

from sklearn import metrics
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

In [6]:
df6 = pd.read_csv('datasets/df6.csv')

df6 = df6.dropna()

df6_X = df6.drop(columns=['Unnamed: 0', 'Id', 'SalePrice'])

df6_y = df6['SalePrice']

X6_train, X6_test, y6_train, y6_test = train_test_split(df6_X, df6_y, test_size=0.2, random_state=4)
df6_train_str = list(X6_train.select_dtypes(include=['object']).columns)
df6_test_str = list(X6_test.select_dtypes(include=['object']).columns)
df6_train_num = list(X6_train.select_dtypes(include=['int', 'float']).columns)
df6_test_num = list(X6_test.select_dtypes(include=['int', 'float']).columns)

# Create a ColumnTransformer with PolynomialFeatures, StandardScaler, and OneHotEncoder
ct = ColumnTransformer([
    ('poly', PolynomialFeatures(degree=2, include_bias=False), df6_train_num),
    ('scaler', StandardScaler(), df6_train_num),
    ('oh', OneHotEncoder(sparse_output=False, drop='first'), df6_train_str)
], remainder='passthrough')

# Fit and transform the training data using the ColumnTransformer
X6_train_transformed = ct.fit_transform(X6_train)

# Transform the test data using the fitted ColumnTransformer
X6_test_transformed = ct.transform(X6_test)

# Create a Lasso model with regularization
lasso = Lasso(alpha=.01)

# Fit the Lasso model to the training data
lasso.fit(X6_train_transformed, y6_train)

# Calculate the R-squared score on the training and test data
train_score = lasso.score(X6_train_transformed, y6_train)
test_score = lasso.score(X6_test_transformed, y6_test)

# Make predictions on the test data
y6_pred = lasso.predict(X6_test_transformed)

# Calculate the mean squared error
mse = metrics.mean_squared_error(y6_test, y6_pred)

print(f"Training R-squared: {train_score}")
print(f"Test R-squared: {test_score}")
print(f"Mean Squared Error: {mse}")

Training R-squared: 0.9347557759605303
Test R-squared: 0.8171270624747893
Mean Squared Error: 1027347966.6779674

C:\Users\kaitl\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.397e+11, tolerance: 1.041e+09
  model = cd_fast.enet_coordinate_descent(

In [4]:
df6.head()

,Unnamed: 0,SalePrice,Id,Overall Qual,Gr Liv Area,Garage Area,Garage Cars,Total Bsmt SF,1st Flr SF,Year Built,Full Bath,Mas Vnr Area,TotRms AbvGrd,Fireplaces,BsmtFin SF 1,Wood Deck SF,Neighborhood,Overall Cond,Sale Type
0,0,130500,109,6,1479,475.0,2.0,725.0,725,1976,2,289.0,6,0,533.0,0,Sawyer,8,WD
1,1,220000,544,7,2122,559.0,2.0,913.0,913,1996,2,132.0,8,1,637.0,0,SawyerW,5,WD
2,2,109000,153,5,1057,246.0,1.0,1057.0,1057,1953,1,0.0,5,0,731.0,0,NAmes,7,WD
3,3,174000,318,5,1444,400.0,2.0,384.0,744,2006,2,0.0,7,0,0.0,100,Timber,5,WD
4,4,138500,255,6,1445,484.0,2.0,676.0,831,1900,2,0.0,6,0,0.0,0,SawyerW,8,WD

In [8]:
X1 = df6[Columns_to_include]
y = df6['SalePrice']

KeyError: "['MS SubClass', 'Condition 1', 'Exter Qual', 'Bsmt Exposure', 'Kitchen Qual', 'Garage Qual'] not in index"